<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Post</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/posts">All Posts</a>
                </li>
                <li>
                    <a href="/topics">All Games</a>
                </li>
            </ul>
        </nav>
    </header>
<main>
    <h1>Edit <%= post.postName %></h1>
    <h2>Post:</h2>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <select name="topic">
            <% for(let i = 0; i < topics.length; i++) { %>
                <option value="<%= topics[i]._id %>"
                    <% if (topics[i]._id.toString() === post.topic._id.toString()) { %>
                        selected
                    <% } %>
                ><%= topics[i].name %></option>
            <% } %>
        </select>
        <input type="text" name="postName" value="<%= post.postName %>"/><br/>
        <textarea name="body"><%= post.body %></textarea><br/>
        <input type="submit" value="Update Post"/>
    </form>
</main>
</body>
</html>