<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>edit <%= post.postName %>'s info</h1>
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/posts">post index</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h2>post attributes:</h2>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <select name="topic">
            <% for(let i = 0; i < topics.length; i++) { %>
                <option value="<%= topics[i]._id %>"
                    <% if (topics[i]._id.toString() === post.topic._id.toString()) { %>
                        selected
                    <% } %>
                ><%= topics[i].name %></option>
            <% } %>
        </select>
        <input type="text" name="postName" value="<%= post.postName %>"/><br/>
        <textarea name="body"><%= post.body %></textarea><br/>
        <input type="submit" value="update post"/>
    </form>
</main>
</body>
</html>