<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= post.postName %> in <%= topic.name %></title>
</head>
<body>
    <header>
        <h1><%= post.postName %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/posts">posts index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>title: <%= post.postName %></h2>
            <h3>topic: <%= topic.name %></h3>
            <p><%= post.body %></p>
        </section>
        <section>
            <a href="/posts/<%= post._id %>/edit">edit</a>
        </section>
        <section>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <input type="submit" value="delete post"/>
            </form>
        </section>
    </main>
</body>
</html>