<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/posts">All Posts</a>
                </li>
                <li>
                    <a href="/posts/new">Create a New Post</a>
                </li>
                <li>
                    <a href="/topics">All Topics</a>
                </li>
            </ul>
        </nav>  
    </header>
    <main>
        <h1>Topic: <%= topic.name %></h1>
        <section>
            <h2>Contents</h2>
            <div>
                <% for(post in posts) { %>
                    <div><a href="/posts/<%= posts[post]._id %>"><%= posts[post].postName %></a></div>
                <% } %>
            </div>
        </section>
        <section>
            <form action="/topics/<%= topic._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Topic" />
            </form>
        </section>
        <section>
            <a href="/topics/<%= topic._id %>/edit">Edit</a>
        </section>
    </main>
</body>
</html>